*{
    margin: 0;
    padding: 0;
}
.body{
    font-family: 'Poppins', sans-serif;
}
#home{
    background-color: #FFFBF0;
}
.header-text{
    color:  rgb(255, 115, 0);
    font-size: 3.5rem;
    font-weight: 600;

}
.header-text-two{
    color:  #49CD56;
    font-size: 3.5rem;
    font-weight: 600;
}
.header-paragraph{
    line-height: 30px;
}
.penguin-card{
    border: 0;
}
.penguin-card-footer{
    background-color: white;
    border: 0;
}
.shopping-cart{
    width: 5px;
}
.btn{
    background-color:  #49CD56;
    color: white;
    border: 0;
}
.card-button{
    margin-left: 120px;
    margin-bottom: 16px;
}
.catagories img{
    width: 100px;
}
.footer-bottom{
    background-color: rgb(52, 89, 117);
}
